*.log
bin/*
.vscode/

examples/helloworld/bin/*
examples/helloworld/hellofyne/*.log
examples/helloworld/hellogio/*.log

mashupsdk/tls/mashup.crt
mashupsdk/tls/mashup.key
mashupsdk/tls/mashup.csr

g3nd/worldg3n/tls/*
examples/helloworld/hellofyne/tls/*

*.key
*.crt
go.sum
thoughtpad.txt

g3nd/worldg3n/__debug_bin
examples/helloworld/hellofyne/__debug_bin
