*.log
bin/*
.vscode/

examples/helloworld/bin/*
examples/helloworld/hellofyne/*.log
examples/helloworld/hellogio/*.log

mashupsdk/tls/mashup.crt
mashupsdk/tls/mashup.key

g3nd/worldg3n/tls/*
examples/helloworld/hellofyne/tls/*

*.key
*.crt
go.sum
thoughtpad.txt
