*.log
bin/*
.vscode/

examples/helloworld/bin/*
examples/helloworld/hellofyne/*.log
examples/helloworld/hellogio/*.log

mashupsdk/mashupsdk.pb.go
mashupsdk/mashupsdk_grpc.pb.go
mashupsdk/tls/mashup.crt
mashupsdk/tls/mashup.key
